{
    "singleQuote": false,
    "tabWidth": 4,
    "printWidth": 100,
    "trailingComma": "none",
    "overrides": [
        {
            "files": ["*.json", "*.jsonc"],
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}
